
server/.vs/NTUCClub/FileContentIndex/read.lock
server/.vs/NTUCClub/FileContentIndex/cfa5e4e5-37e0-40a3-9690-9509f18151c1.vsidx
server/.vs/NTUCClub/FileContentIndex/08daf1ac-1b37-48a9-ae6b-b2c6ccceb56a.vsidx
server/bin/Debug/net6.0/NTUCClub.dll
server/bin/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/ref/NTUCClub.dll
server/obj/Debug/net6.0/refint/NTUCClub.dll
server/bin/Debug/net6.0/NTUCClub.dll
server/bin/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/ref/NTUCClub.dll
server/obj/Debug/net6.0/refint/NTUCClub.dll
