
server/.vs/NTUCClub/FileContentIndex/read.lock
server/.vs/NTUCClub/FileContentIndex/cfa5e4e5-37e0-40a3-9690-9509f18151c1.vsidx
server/.vs/NTUCClub/FileContentIndex/08daf1ac-1b37-48a9-ae6b-b2c6ccceb56a.vsidx
server/bin/Debug/net6.0/NTUCClub.dll
server/bin/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/ref/NTUCClub.dll
server/obj/Debug/net6.0/refint/NTUCClub.dll
server/bin/Debug/net6.0/NTUCClub.dll
server/bin/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/ref/NTUCClub.dll
server/obj/Debug/net6.0/refint/NTUCClub.dll
server/bin/Debug/net6.0/NTUCClub.pdb
server/bin/Debug/net6.0/NTUCClub.dll
server/.vs/slnx.sqlite
server/.vs/server/v17/.wsuo
server/.vs/server/FileContentIndex/ef6fbfe2-166e-45cd-a290-4391f9c99a92.vsidx
server/obj/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/ref/NTUCClub.dll
server/obj/Debug/net6.0/refint/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.csproj.AssemblyReference.cache
server/obj/Debug/net6.0/NTUCClub.assets.cache
server/.vs/server/FileContentIndex/c5854111-6188-43e8-b6a4-6986c16a4bea.vsidx
server/.vs/server/FileContentIndex/82291947-afbd-464f-bfa5-ffb09d0f48e5.vsidx
server/bin/Debug/net6.0/NTUCClub.pdb
server/bin/Debug/net6.0/NTUCClub.dll
server/.vs/slnx.sqlite
server/.vs/server/v17/.wsuo
server/.vs/server/FileContentIndex/ef6fbfe2-166e-45cd-a290-4391f9c99a92.vsidx
server/obj/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/ref/NTUCClub.dll
server/obj/Debug/net6.0/refint/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.csproj.AssemblyReference.cache
server/obj/Debug/net6.0/NTUCClub.assets.cache
server/.vs/server/FileContentIndex/c5854111-6188-43e8-b6a4-6986c16a4bea.vsidx
server/.vs/server/FileContentIndex/82291947-afbd-464f-bfa5-ffb09d0f48e5.vsidx
server/.vs/NTUCClub/FileContentIndex/e3d74866-f174-4c77-aa7e-1e31d5ccffa9.vsidx
server/.vs/NTUCClub/FileContentIndex/e3d74866-f174-4c77-aa7e-1e31d5ccffa9.vsidx
*.dll
*.bin
*.vsidx
ask-multiple-pdfs-main/sentimentModel.py
ask-multiple-pdfs-main/tensorflow/
ask-multiple-pdfs-main/test.ft.txt
ask-multiple-pdfs-main/train.ft.txt
ask-multiple-pdfs-main/test.ft.txt
ask-multiple-pdfs-main/train.ft.txt
server/bin/Debug/net6.0/NTUCClub.pdb
server/bin/Debug/net6.0/NTUCClub.dll
server/.vs/NTUCClub/v17/.suo
server/.vs/NTUCClub/DesignTimeBuild/.dtbcache.v2
server/obj/Debug/net6.0/refint/NTUCClub.dll
server/obj/Debug/net6.0/ref/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.assets.cache
server/bin/Debug/net6.0/NTUCClub.pdb
server/bin/Debug/net6.0/NTUCClub.dll
server/.vs/NTUCClub/v17/.suo
server/.vs/NTUCClub/DesignTimeBuild/.dtbcache.v2
server/obj/Debug/net6.0/refint/NTUCClub.dll
server/obj/Debug/net6.0/ref/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.pdb
server/obj/Debug/net6.0/NTUCClub.dll
server/obj/Debug/net6.0/NTUCClub.assets.cache
