
server/.vs/NTUCClub/FileContentIndex/read.lock
server/.vs/NTUCClub/FileContentIndex/cfa5e4e5-37e0-40a3-9690-9509f18151c1.vsidx
server/.vs/NTUCClub/FileContentIndex/08daf1ac-1b37-48a9-ae6b-b2c6ccceb56a.vsidx
