.topheader {
    font-weight: bold !important;
    font-size: 18px !important;
}

.number-head {
    font-weight: bold !important;
    color: red;
}

.image-insert {
    display: block;
    margin: auto;
}

.statsCard {
    padding: 16px!important;
    border-radius: 10px;
    width: 100%;
}

.statsData {
    font-weight: bold!important;
    font-size: 32px!important;
}

.addbtn {
    float: right;
    background-color: #E8533F !important;
    min-width: 100px !important;
}

.ql-toolbar.ql-snow {
    margin-top: 10px;
    border-radius: 5px 5px 0px 0px !important;
}

.ql-container.ql-snow {
    border-radius: 0px 0px 5px 5px imr !important;
}

.css-qbdosj-Input , .css-166bipr-Input {
    min-height: 45px!important;
}

